.custom-container {
    max-width: 1100px;
    width: 65%;
    box-shadow: 6px 7px 19px 0px rgba(0,0,0,0.75);
    position: absolute;
    margin: 0 auto;
    top: 188px;
    left: 0;
    right: 0;
    z-index: 50;
}

.btn-padding {
    padding: 8px 24px;
}

.custom-margin {
    margin-left: 6px;
}

.alert {
    background-color: #fafafa;
    width: 50%;
    box-shadow: 6px 7px 19px 0px rgba(0,0,0,0.75);
    position: fixed;
    margin: 0 auto;
    top: 210px;
    left: 0;
    right: 0;
    z-index: 150;
    font-size: 15px;
}

.list-item {
    margin: 0;
    font-size: 16px;
}

.custom-list {
    max-height: 500px;
    overflow-y: scroll;
}

.custom-pointer {
    cursor: pointer;
}

.custom-pointer:hover {
    background-color: #ddd;
}

.custom-badge {
    background-color: #f05134;
    margin-top: 2px;
    padding: 4px 10px;
}

.custom-badge:hover {
    background-color: #da1f00
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 4px;
    background-color: #fff;
    width: 160px;
    box-shadow: 6px 7px 19px 0px rgba(0,0,0,0.75);
    z-index: 200;
}

.dropdown-content button {
    width: 100%;
    background-color: #fff;
    border-radius: 0;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content button:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}