<section> 
  <div class="well container">
    <div class="row">
      <div class="col-md-12">
        <form (submit)="onSubmit(taxNumber)">
            <div class="input-group">
              <input type="text" placeholder="Wpisz numer NIP/REGON/KRS" class="form-control" autocomplete="off"
              [(ngModel)]="taxNumber" name="taxNumber">
                <span class="input-group-btn">
                  <input type="submit" value="Szukaj" class="btn btn-primary">
                </span>
             </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 padding-top">
        <button class="btn btn-info pull-left" (click)="enterData()">Wprowadź dane</button>
        <button class="btn btn-info pull-right custom-margin" (click)="showHistory()">Historia</button>
        <button class="btn btn-success pull-right custom-margin" (click)='setValidation()' [class.btn-danger]="!validationActive">Walidacja danych</button>
      </div>
    </div>
  </div>
</section>
<section>
    <app-history *ngIf="historyDOM"></app-history>
</section>
